body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
  }
  
  h2 {
    font-size: 2em;
  }
  
  h3 {
    color: thistle;
  }
  
  p {
    line-height: 1.8em;
    font-size: 10px;
    color: bisque;
  }
  
  footer {
    background-color: black;
    color: rgb(124, 201, 251);
    padding: 20px;
    text-align: center;
    font-size: 14px;
  }
  
  nav {
    background-color: black;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 20px 30px;
  }
  
  nav ul li {
    display: inline;
    list-style: none;
    display: inline-block;
  }
  
  nav ul li a {
    color: rgb(216, 137, 11);
    font-size: 1.5em;
    display: inline;
    padding: 20px 30px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: cornflowerblue;
    color: white;
  }
  
  #main-container {
    background-color: black;
    margin: 0 auto;
    min-width: 375px;
    width: 1280px;
  }
  
  aside {
    box-sizing: border-box;
    padding: 20px;
    width: 375px;
  }
  